<div id="<%= dom_id article %>">
  <div class="row shadow-lg p-1 mb-5 bg-body rounded">
    <div class="col-lg-12 pt-2 pt-lg-0 rounded-3">
      <h3 style="margin-top:16px;"><%= article.title %></h3>
      <p class="card-text"><small class="text-muted"><%= @article.date %></small></p>
      <div>
      <%= cl_image_tag(@article.photo.key, crop: :fill, alt: "#{@article.title}", class: "m-2 float-start rounded") %>
      </div>
      <div>
        <%= @b %>
      </div>


    </div>
  </div>
</div>
