<div id="<%= dom_id article %>">
  <div class="row shadow-lg p-1 mb-5 bg-body rounded">
    <div class="col-lg-12 pt-2 pt-lg-0 rounded-3">
      <h3 style="margin-top:16px;"><%= article.title %></h3>
      <p class="card-text"><small class="text-muted"><%= @article.date %></small></p>

      <%= cl_image_tag("radiofarda/#{@article.cloudinary_url}", crop: :fill, alt: "#{@article.title}", class: "m-2 float-start rounded") %>
      <p>
        <%= article.content %>
      </p>

    </div>
  </div>
</div>
