
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :photo, as: :file %>
    <%= f.input :date %>
    <%= f.input :author %>
    <%= f.input :published %>
    <%= f.input :category_id, collection: Category.all %>
    <%= f.input :original %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
