<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5 my-3">
      <div class="col-xs-12 border">
        <%= render 'shared/header_news' %>
      </div>
      <div class="col-xs-6 my-2 border">
        <%= render 'shared/pishkhan' %>

      </div>
    </div>
    <div class="col-xs-12 col-md-7 my-2">
      <div class="row justify-content-xs-center justify-content-md-end mx-2">
          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">سیاسی</div>
            <div class="section">
              <% count = 1 %>
              <% @siasi.each do |khabar| %>
                <% while count <= 5 do %>
                  <div class="section-item">
                    <%= khabar.title %>
                    <% count += 1 %>
                  </div>
                <% end %>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
              <% count = 1 %>
              <% @eghtesad.each do |khabar| %>
                <div class="section-item">
                  <%= khabar.title %>
                  <% count += 1 %>
                </div>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">جهان</div>
            <div class="section">
              <% count = 1 %>
              <% @eghtesad.each do |khabar| %>
                <div class="section-item">
                  <%= khabar.title %>
                  <% count += 1 %>
                </div>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">دانش</div>
            <div class="section">
              <% count = 1 %>
              <% @eghtesad.each do |khabar| %>
                <div class="section-item">
                  <%= khabar.title %>
                  <% count += 1 %>
                </div>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">استان‌ها</div>
            <div class="section">
              <% count = 1 %>
              <% @eghtesad.each do |khabar| %>
                <div class="section-item">
                  <%= khabar.title %>
                  <% count += 1 %>
                </div>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
              <% count = 1 %>
              <% @eghtesad.each do |khabar| %>
                <div class="section-item">
                  <%= khabar.title %>
                  <% count += 1 %>
                </div>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
              <% count = 1 %>
              <% @eghtesad.each do |khabar| %>
                <div class="section-item">
                  <%= khabar.title %>
                  <% count += 1 %>
                </div>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

          <div class="col-xs-12 col-md-5 border border-dark my-2 mx-lg-2">
            <div class="section-title">اقتصادی</div>
            <div class="section">
              <% count = 1 %>
              <% @eghtesad.each do |khabar| %>
                <div class="section-item">
                  <%= khabar.title %>
                  <% count += 1 %>
                </div>
              <% end %>
                <div class="section-item">
                  <%= link_to "بیشتر", "/articles?q=all"%>
                </div>
              </div>
          </div>

      </div>
    </div>
  </div>
</div>
